* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;

}
a {
    text-decoration: none;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(250, 219, 172);
    
}
aside{
    padding:2rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(237, 248, 217);
    position:sticky ;
    top:0 ;
    height: 100vh ;
}
.footerderechos{
    font-size: .80rem;
}
img.imagen-articulo{
    size: 25px;
}